Import libraries

In [85]:
import numpy as np
import pandas as pd

Load and read file

In [86]:
data = pd.read_csv('https://raw.githubusercontent.com/TracyRenee61/Bananas/main/bananas-11jan21.csv', encoding= 'unicode_escape')
data

               Origin        Date  Price Units
0              belize  2021-01-10   0.86  £/kg
1          costa_rica  2021-01-10   0.87  £/kg
2         ivory_coast  2021-01-10   0.73  £/kg
3         acp_bananas  2021-01-10   0.81  £/kg
4      dollar_bananas  2021-01-10   0.87  £/kg
...               ...         ...    ...   ...
11791       guatemala  1995-01-20   0.64  £/kg
11792      guadeloupe  1995-01-20   0.61  £/kg
11793         surinam  1995-01-13   0.61  £/kg
11794  windward_isles  1995-01-13   0.60  £/kg
11795      guadeloupe  1995-01-13   0.60  £/kg

[11796 rows x 4 columns]

Sort dataframe by date

In [87]:
data = data.sort_values(by='Date')
data

               Origin        Date  Price Units
11795      guadeloupe  1995-01-13   0.60  £/kg
11794  windward_isles  1995-01-13   0.60  £/kg
11793         surinam  1995-01-13   0.61  £/kg
11789         surinam  1995-01-20   0.63  £/kg
11792      guadeloupe  1995-01-20   0.61  £/kg
...               ...         ...    ...   ...
4      dollar_bananas  2021-01-10   0.87  £/kg
3         acp_bananas  2021-01-10   0.81  £/kg
2         ivory_coast  2021-01-10   0.73  £/kg
1          costa_rica  2021-01-10   0.87  £/kg
0              belize  2021-01-10   0.86  £/kg

[11796 rows x 4 columns]

Count Origin

In [88]:
origin = data['Origin'].to_list()

# using naive method to remove duplicated from list  
list_origin = [] 
for i in origin: 
    if i not in list_origin: 
        list_origin.append(i) 

sorted(list_origin)

['acp_bananas',
 'all_bananas',
 'belize',
 'brazil',
 'cameroon',
 'colombia',
 'costa_rica',
 'dollar_bananas',
 'dominican_republic',
 'ecuador',
 'eu_bananas',
 'ghana',
 'guadeloupe',
 'guatemala',
 'honduras',
 'ivory_coast',
 'jamaica',
 'malaysia',
 'martinique',
 'mexico',
 'nicaragua',
 'panama',
 'somalia',
 'st_vincent',
 'surinam',
 'venezuela',
 'windward_isles']

In [89]:
print(len(list_origin))

27

Dates

In [90]:
from datetime import date 
from datetime import timedelta

In [91]:
max_date = data.Date.max()
max_date = pd.Timestamp(max_date)
max_date

Timestamp('2021-01-10 00:00:00')

Rename columns

In [92]:
data = data.drop('Units', axis=1)

df = data.rename(columns={'Date': 'ds', 'Origin': 'Group', 'Price':'y'})
df

                Group          ds     y
11795      guadeloupe  1995-01-13  0.60
11794  windward_isles  1995-01-13  0.60
11793         surinam  1995-01-13  0.61
11789         surinam  1995-01-20  0.63
11792      guadeloupe  1995-01-20  0.61
...               ...         ...   ...
4      dollar_bananas  2021-01-10  0.87
3         acp_bananas  2021-01-10  0.81
2         ivory_coast  2021-01-10  0.73
1          costa_rica  2021-01-10  0.87
0              belize  2021-01-10  0.86

[11796 rows x 3 columns]

FB Prophet Predictions on each Group

In [93]:
from fbprophet import Prophet

final = pd.DataFrame()

grouped = df.groupby('Group')
for g in grouped.groups:
    group = grouped.get_group(g)
    m = Prophet()
    m.fit(group)
    future = m.make_future_dataframe(periods=52, freq='w')
    forecast = m.predict(future)
    #I added a column with group
    forecast['group'] = g
    #I used concat instead of merge
    final = pd.concat([final, forecast], ignore_index=True)
final

INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 1.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 17.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 0.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

              ds     trend  yhat_lower  ...  weekly  weekly_lower  weekly_upper
0     1998-01-09  0.542255    0.371777  ...     NaN           NaN           NaN
1     1998-01-16  0.542182    0.438651  ...     NaN           NaN           NaN
2     1998-01-23  0.542108    0.497842  ...     NaN           NaN           NaN
3     1998-01-30  0.542035    0.510554  ...     NaN           NaN           NaN
4     1998-02-06  0.541962    0.486320  ...     NaN           NaN           NaN
...          ...       ...         ...  ...     ...           ...           ...
13195 2021-04-25  0.456233    0.365756  ...     NaN           NaN           NaN
13196 2021-05-02  0.456046    0.358945  ...     NaN           NaN           NaN
13197 2021-05-09  0.455859    0.379807  ...     NaN           NaN           NaN
13198 2021-05-16  0.455673    0.370805  ...     NaN           NaN           NaN
13199 2021-05-23  0.455486    0.346083  ...     NaN           NaN           NaN

[13200 rows x 20 columns]

In [94]:
prediction = pd.DataFrame({'date': final.ds, 'prediction': final.yhat, 'group':final.group })
prediction

            date  prediction           group
0     1998-01-09    0.504317     acp_bananas
1     1998-01-16    0.575113     acp_bananas
2     1998-01-23    0.627379     acp_bananas
3     1998-01-30    0.642597     acp_bananas
4     1998-02-06    0.625325     acp_bananas
...          ...         ...             ...
13195 2021-04-25    0.513929  windward_isles
13196 2021-05-02    0.513859  windward_isles
13197 2021-05-09    0.525909  windward_isles
13198 2021-05-16    0.529008  windward_isles
13199 2021-05-23    0.513390  windward_isles

[13200 rows x 3 columns]

In [95]:
future_prediction = prediction[(prediction['date'] > max_date)]
future_prediction

            date  prediction           group
1105  2021-01-17    0.681049     acp_bananas
1106  2021-01-24    0.727382     acp_bananas
1107  2021-01-31    0.735787     acp_bananas
1108  2021-02-07    0.714616     acp_bananas
1109  2021-02-14    0.685668     acp_bananas
...          ...         ...             ...
13195 2021-04-25    0.513929  windward_isles
13196 2021-05-02    0.513859  windward_isles
13197 2021-05-09    0.525909  windward_isles
13198 2021-05-16    0.529008  windward_isles
13199 2021-05-23    0.513390  windward_isles

[695 rows x 3 columns]

In [96]:
origin = future_prediction['group'].to_list()

# using naive method to remove duplicated from list  
list_origin = [] 
for i in origin: 
    if i not in list_origin: 
        list_origin.append(i) 

sorted(list_origin)

['acp_bananas',
 'all_bananas',
 'belize',
 'colombia',
 'costa_rica',
 'dollar_bananas',
 'dominican_republic',
 'ecuador',
 'ghana',
 'guatemala',
 'honduras',
 'ivory_coast',
 'mexico',
 'nicaragua',
 'panama',
 'windward_isles']

In [97]:
print(len(list_origin))

16

Select group

In [98]:
origin = 'dollar_bananas'

single_prediction = future_prediction[(future_prediction['group'] == origin)]
single_prediction

           date  prediction           group
6698 2021-01-17    0.917971  dollar_bananas
6699 2021-01-24    0.958536  dollar_bananas
6700 2021-01-31    0.970835  dollar_bananas
6701 2021-02-07    0.959788  dollar_bananas
6702 2021-02-14    0.941870  dollar_bananas
6703 2021-02-21    0.932674  dollar_bananas
6704 2021-02-28    0.937733  dollar_bananas
6705 2021-03-07    0.952613  dollar_bananas
6706 2021-03-14    0.969127  dollar_bananas
6707 2021-03-21    0.980476  dollar_bananas
6708 2021-03-28    0.982292  dollar_bananas
6709 2021-04-04    0.972592  dollar_bananas
6710 2021-04-11    0.953591  dollar_bananas
6711 2021-04-18    0.933180  dollar_bananas
6712 2021-04-25    0.921581  dollar_bananas
6713 2021-05-02    0.923657  dollar_bananas
6714 2021-05-09    0.934017  dollar_bananas
6715 2021-05-16    0.941117  dollar_bananas
6716 2021-05-23    0.937520  dollar_bananas
6717 2021-05-30    0.926110  dollar_bananas
6718 2021-06-06    0.915636  dollar_bananas
6719 2021-06-13    0.910341  dollar_bananas
6720 2021-06-20    0.905011  dollar_bananas
6721 2021-06-27    0.890906  dollar_bananas
6722 2021-07-04    0.865990  dollar_bananas
6723 2021-07-11    0.838288  dollar_bananas
6724 2021-07-18    0.818934  dollar_bananas
6725 2021-07-25    0.812612  dollar_bananas
6726 2021-08-01    0.815251  dollar_bananas
6727 2021-08-08    0.820213  dollar_bananas
6728 2021-08-15    0.825207  dollar_bananas
6729 2021-08-22    0.832596  dollar_bananas
6730 2021-08-29    0.844056  dollar_bananas
6731 2021-09-05    0.856596  dollar_bananas
6732 2021-09-12    0.864337  dollar_bananas
6733 2021-09-19    0.863350  dollar_bananas
6734 2021-09-26    0.853938  dollar_bananas
6735 2021-10-03    0.838671  dollar_bananas
6736 2021-10-10    0.819639  dollar_bananas
6737 2021-10-17    0.798553  dollar_bananas
6738 2021-10-24    0.778983  dollar_bananas
6739 2021-10-31    0.766906  dollar_bananas
6740 2021-11-07    0.767577  dollar_bananas
6741 2021-11-14    0.780990  dollar_bananas
6742 2021-11-21    0.800112  dollar_bananas
6743 2021-11-28    0.814004  dollar_bananas
6744 2021-12-05    0.814282  dollar_bananas
6745 2021-12-12    0.801158  dollar_bananas
6746 2021-12-19    0.785203  dollar_bananas
6747 2021-12-26    0.782727  dollar_bananas
6748 2022-01-02    0.806108  dollar_bananas
6749 2022-01-09    0.854530  dollar_bananas